
#cart{
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: linear-gradient(to right,rgba(255, 255, 255, 0.9),white, white);
    padding: 0 20px;
    margin: 20px 0;
    border-radius: 20px;
}
#cart-container{
    position: sticky;
    top: 100px;
    height: max-content;
}
table{
    font-size: 22px;
}
tr > td:first-child{
    font-weight: bold;
}
tr > td:nth-child(2){
    text-align: right;
    padding-left: 10px;
}
ul{
    font-size: 18px;
}
#empty-cart-button{
    font-size: 25px;
    font-weight: bold;
    background-color: crimson;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
#empty-cart-button:hover{
    background-color: #ff0000;
}
