/* styles for every single course container */
.course{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 20px;
    background: linear-gradient(45deg,#e7e7e7,white,#ffe4e9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
/* change course container width in larger screen */
@media screen and (min-width: 1500px) {
    .course{ width: 300px; }
}
.course-img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.course-img img{
    width: 100%;
    min-height: 100%;
}
.course-info{
    padding: 20px;
}
.course-name{
    text-align: center;
    margin: 0 0 20px;
}
.course-skills h5{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0;
}
.course-skills i{ color: limegreen; }

.card-footer{
    text-align: center;
    margin-top: 30px;
}
.course-price{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
}
.course-add-button{
    background-color: crimson;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
.course-add-button:hover{
    background-color: #ff0000;
}