/* webpage header styles */
header{
    text-align: center;
    padding: 20px 0;
    color: white;
    text-shadow: 0 0 10px black;
    background: url('https://i.ibb.co/q0R9MGc/image.png') no-repeat;
    background-position: center;
    background-size: cover;
}
/* set font size of heading tags */
header h1{
    font-size: 60px;
}
header h2{
    font-size: 40px;
}