
header{
    padding: 20px 0;
    color: white;
    text-shadow: 0 0 20px gray;
    background: url('https://i.ibb.co/q0R9MGc/image.png') no-repeat;
    background-position: center;
    background-size: cover;
}

header h1{
    font-size: 60px;
    text-align: center;
}