/* webpage header styles */
header{
    text-align: center;
    padding: 30px 0;
    color: white;
    text-shadow: 0 0 10px black;
    background: url('https://i.ibb.co/q0R9MGc/image.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
}
header::after{
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(rgba(0, 0, 0,0.6),rgba(20, 77, 220, 0.3));
    z-index: -1;
}
/* set font size of heading tags */
header h1{
    font-size: 50px;
}
header h2{
    font-size: 30px;
}