/* all courses container styles */
#courses{
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 50px;
}

/* set the number of columns depending on user's device */
@media screen and (max-width:1200px) {
    #courses{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:900px) {
    #courses{
        grid-template-columns: repeat(1, 1fr);
    }
    #courses > div{
        margin-left: auto;
        margin-right: auto;
    }
}